.footerContainer {
  width: 100%;
  padding: 30px 30px 20px;
}

.footerBottom {
  background-color: #0e1113;
  color: #a4abb1;
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
